/* *, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
} */

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius:5px ;
  padding: 10px;
  box-shadow:  0 0 10px 2px;
}

.btnContainer {
  display: grid;
  gap: 20px;
  margin: 20px 0;
}

.hide {
  display: none;
}